<nav class="navbar navbar-expand navbar-light bg-light">
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class="nav nav-pills">
        <li>
            <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Product List</a>
        </li>
    </ul>
</nav>
<div class="container"
    [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet">
    </router-outlet>
</div>

<!-- <app-load-spinner-overlay></app-load-spinner-overlay> -->
<ng-container *ngIf="showLoader">
    <app-load-spinner-overlay></app-load-spinner-overlay>
</ng-container >