<div class='card'>
  <div class='card-header'>Product Overzicht</div>
  <div class='card-body'>
    <div class="btn-toolbar mb-3 justify-content-between" role="toolbar">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary" [disabled]="!isReady" (click)='Add()'>Add</button>
        <button type="button" class="btn btn-primary" [disabled]="!isReady" (click)='Remove()'>Remove</button>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Filter:</div>
        </div>
        <input type="text" class="form-control" placeholder="Voer zoekopdracht in..." [disabled]="!isReady" [(ngModel)]='needle' />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table *ngIf="isReady === true; else state_message" class="container table table-hover table-striped table-borderless" >
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Perishable</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let product of filterProductCollection$ | async; index as i'>
              <td>
                  <input type="checkbox" (click)='SelectRow(i)'/>
              </td>
              <td>
                <a [routerLink]="['/products', product.UniqueID]"
                   [queryParams]="{ filterBy: needle }">
                  {{ product.Name }}
                </a>
              </td>
              <td>{{ getTypeFlag(product.Type) }}</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr> 
          </tbody>
        </table>
        <ng-template #state_message>
          <div class="alert alert-primary" role="alert">{{ stateMessage }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
