<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <form [formGroup]="productForm" (ngSubmit)="onSave()">
      <div class="btn-toolbar mb-3 justify-content-between" role="toolbar">
        <div class="btn-group btn-group" role="group">
          <button *ngIf="isNew === false" type="button" class="btn btn-primary" (click)='onRemove()'>
            Remove
          </button>
          <button type="submit" class="btn btn-primary" [title]="productForm.valid ? 'Save product.' : 'Disabled untill form data is valid'"
            [disabled]="!productForm.valid">
            Save
          </button>
        </div>
      </div>
      <div class='form-group row'>
        <label for="name" class="col-sm-2 col-form-label">
          Naam
        </label>
        <div class="col-sm-10">
          <input id="name" type="text" class="form-control" placeholder="Name.." formControlName="nameControl"
            [ngClass]="{'is-valid': nameControl.dirty && nameControl.valid, 'is-invalid': nameControl.dirty && !nameControl.valid }" />
          <small class="text-danger form-text">
            {{ nameErrorMessage }}
          </small>
        </div>
      </div>
      <div class='form-group row'>
        <label for="type" class="col-sm-2 col-form-label">
          Type
        </label>
        <div class="col-sm-10">
          <select id="type" class="form-control" placeholder="Producttype.." formControlName="typeControl" [ngClass]="{'is-valid': (typeControl.touched || typeControl.dirty) && !typeControl.valid }">
            <option *ngFor="let item of productTypes$ | async" [value]="item.Key">
              {{ item.Value }}
            </option>
          </select>
        </div>
      </div>
      <div class='form-group row'>
        <label for="perishable" class="col-sm-2 col-form-label">
          Perishables
        </label>
        <div class="col-sm-1">
          <input id="perishable" type="checkbox" class="form-control" formControlName="perishableControl" />
        </div>
      </div>
    </form>
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary' style='width: 80px' (click)='onBack()'>
      Back
    </button>
  </div>
</div>
